## Numerical Datatypes
* Integers
* float
* complex

In [2]:
x,y,z=123,45.56,5+3j
print(x,y,z)
print(type(x),type(y),type(z))

123 45.56 (5+3j)
<class 'int'> <class 'float'> <class 'complex'>

In [3]:
x=5
print(x,id(x))
x=10
print(x,id(x))

5 4453166552
10 4453166712

### int()

In [7]:
print(int('10')) #default base is 10
print(int('0101',2)) #binary base
print(int('1001',8))
print(int(5.6))
#lowest base is 2 and highest base value is 36
# takes binary and base value and returns an integer value

10
5
513
5

In [8]:
oct(9), hex(17)

('0o11', '0x11')

### Float()

In [9]:
float(5) #float will have decimal value

5.0

### Complex()

In [14]:
x=5+3j
y=4
print(x, type(x))
print(complex(y))
print(int(x.real), x.imag)

(5+3j) <class 'complex'>
(4+0j)
5 3.0

### abs()

In [19]:
x=-10+2j
y=-2.3
print(abs(x))
print(abs(y))

10.198039027185569
2.3

In [24]:
import math
import numpy
from math import ceil, floor
from numpy import conj

print(floor(5.345)), print(ceil(5.0345)) #floor gives integer and ceil gives next integer value.
print(conj(2+3j)) #gives conjugate of given complex number

5
6
(2-3j)

In [21]:
3.2e+2

320.0

# Arithmetic Operators

In [25]:
x,y=15,4
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x**y) #power
print(x//y) #floor - divison
print(x%y) #modulus

19
11
60
3.75
50625
3
3

In [26]:
a,b,c,d=5,10,11,16
print(a+b+c+d)

42

In [34]:
import math
from math import pi

r,h=5,5
print(pi*r*r) #area of circle
print(2*pi*r) #paremeter
print(pi*r**2*h) #volume of cylinder

78.53981633974483
31.41592653589793
392.69908169872417

In [35]:
d,h=15,7
print(pi*((d/2)**2)*h) #volume of cylinder

1237.002107350981

### Comparission Operators
#### Relationship Operators
* < , > , <= , >= , !=

In [38]:
x,y=10,20 
print(x>y,x<y,x>=y, x<=y) #only gives true or false
print(x == y)
print(x!=y)

False True False True
False
True

In [39]:
a,b,c= [1,2,3],[1,2,3],[3,4]
a==b, a!=c #this operator works for lists.

(True, True)

In [41]:
"string"=="string" #works for strings

True

#### Logical operator
* and, or, not

In [42]:
x, y, z= True, False, True
print(x and y, x and z)

False True

In [43]:
print(x or y, x or z)

True True

In [44]:
print(not x)

False

#### Identity Operators
 * is and is not operator

In [45]:
inta ,intb= 250, 250
lista, listb=[1,2,3], [1,2,3]
listc = lista
stra, strb="string", "string"
strc = stra

In [46]:
lista ==listb, lista is listb

(True, False)

In [47]:
id(lista), id(listb), id(listc)

(4559354688, 4559367744, 4559354688)

In [49]:
lista is not listb

True

In [50]:
inta is intb #for integer it gives same memory location so is operator for same assigned int to diff var 
#will always be true

True

#### Membership operators
* in, not in

In [51]:
x, y= [12,13,14], "string"
11 in x, "z" not in y

(False, True)

### Bitwise Operators
* & , | , >> , << , ~ , ^

In [8]:
#bitwise operators are used to perform bitwise operations on integers. integers get converted into binary form and
#get operated bit by bit. result gives in integer form.

print(5 & 3) #5 , 3 are converted to binary form and then and operator is applied bitwise
print(5 | 3) #similarly, or operator is applied
print(5>>1) #5 in converted to binary then shifted to right side by step "1"
print(5<<1) #similary shifted to left side by step 1
print(5^1) #5,3 converted to binary then if both bits have similar value like 1 or 0 then it gives 0 otherwise 1
print(~5) # it gives -(x+1) value
print(~(-6)) #similer to previous

1
7
2
10
4
-6
5

### Assignment Operators
* = , +=, -= , *= , /= , **= , //= , %= , &= , |= , >>= , <<= , ^=

In [21]:
#assignment operator are used to assign the value to the left operands
# a = 5 
# a = a+3 or a+=3 is assignment operator (example)
a=10
a+=2 # addition assignment operator, adds given number to a and again gives a.
print(a)
a-=2 # subtracts that given value from a.
print(a)
a*=2 # multiplies the value by 2
print(a)
a/=2 # divides the value by 2
print(a)
a**=2 # gives the power of a by 2 
print(a)
a//=2 # floor division by 2
print(a)
a%=3 # modulus of a when divided by 2
print(a)
a = 10
a&=3 # bitwise and operation on a and 3
print(a)
a|=2 # bitwise or operation on a and 2
print(a)
a>>=2 # bitwise right shift on a with step size of 2
print(a)
a<<=2 # bitwise left shift on a with step size of 2
print(a)
a^=2 # bitwise xor operation
print(a)

12
10
20
10.0
100.0
50.0
2.0
2
2
0
0
2